{% extends 'base.html' %}
{% load static %}
{% block main %}
        <h1
          style="color: rgb(49, 61, 68); background-color:rgb(75, 219, 197) ; margin-bottom: 0; font-size: 1cm; padding-left: 40px; padding-top: 42px;padding-bottom:17px;">
          Please fill this form to add qualification</h1>
          <div class="container-fluid" style="font-family: Arial, Helvetica, sans-serif; background-color: rgb(214, 212, 228);">
        <form method="POST" action="" enctype="multipart/form-data" role="form"
          style="font-family: Arial, Helvetica, sans-serif;">
          {% csrf_token %}

          <label for="id_doctor" style="font-size: 0.60cm;padding-top: 10px; padding-left: 10px;">Your ID</label><br>
          <div class="col-sm-4">
            {{form.id_doctor}}
          </div>
          
          <label for="name" style="font-size: 0.60cm;padding-top: 10px; padding-left: 10px;">Your qualification</label><br>
          <div class="col-sm-4">
            {{form.name}}
          </div>

          <div  style="text-align: center;">
          <button type="submit" class="btn btn-dark btn:hover"
            style="text-align: center; padding: 10px 25px; margin:4px 2px;">Submit</button>
        
          </div>  
        </div>
        </form>
{% endblock %}
